.element {
  max-height: 361px;
  max-width: 435px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}
