.popup__container {
  background-color: #fff;
  max-width: 430px;
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 34px 36px 37px;
}
@media (max-width: 879px) {
  .popup__container {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px;
  }
}
