.profile__name {
  box-sizing: border-box;
  margin-top: 22px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  grid-area: profile__name;
  max-width: 480px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 879px) {
  .profile__name {
    margin-top: 26px;
    font-size: 27px;
    line-height: 33px;
    justify-self: end;
    padding-left: 26px;
    /* max-width: 228px; */
    width: calc(100vw - 28px - 26px - 2*19px);
  }
}
